<h2>スケジュール詳細</h2>
<table>
  <tr>
    <th>タイトル</th>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <th>開始</th>
    <td><%= l @post.start_day %></td>
  </tr>
  <tr>
    <th>終了</th>
    <td><%= l @post.end_day %></td>
  </tr>
  <tr>
    <th>内容</th>
    <td><%= @post.overview %></td>
  </tr>
</table>
<%= link_to "スケジュール一覧", :posts %>