<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1>スケジュール管理アプリ</h1>
  </header>
    <%=flash[:notice] %>
  <body>
    <div class="container">
    <%= yield %>
    </div>
  </body>
  <footer>
    <h2><%= l Date.today %> スケジュール件数<%=Post.all.count%></h2>
  </footer>
</html>
